# Use this file with editorconfig extension in your IDE to configure the right
# way to programming Python, following the PEP8 recommendations

root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.py]
max_line_length = 79

[*.md]
trim_trailing_whitespace = false
